body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #abaa84;
  color: #000000;
}

.box {
  width: 300px;
  padding: 35px;
  position: relative;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ebead3;
  border-radius: 24px;
  text-align: center;
}

.box1 {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ebead3;
  border-radius: 24px;
  text-align: center;
}
.box h1 {
  color: #611e19;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
}
.box1 p {
  color: black;
  background: none;
}
h4 {
  background: none;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #611e19;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #611e19;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.box1 input[type="file"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #611e19;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box1 input[type="file"]:focus {
  width: 280px;
  border-color: #611e19;
}
.box input[type="submit"] {
  border: 0;
  background: #04aa6d;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box1 input[type="submit"] {
  border: 0;
  background: #04aa6d;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.logout input[type="submit"] {
  border: 0;
  background: #04aa6d;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover,
.box1 input[type="submit"]:hover,
.logout input[type="submit"]:hover {
  opacity: 0.7;
}
